<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyProject.Globals" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MyProject.Globals>
            <setting name="url" serializeAs="String">
                <value>https://www.trendyol.com/</value>
            </setting>
            <setting name="browser" serializeAs="String">
                <value>chrome</value>
            </setting>
        </MyProject.Globals>
    </userSettings>
</configuration>